---
layout: default
title: Projects
permalink: /projects/
---
{% assign sorted_categories = site.categories | sort %}

{% for category in sorted_categories %}
  {% assign cat_name = category[0] %}
  {% assign cat_posts = category[1] %}
  
  {% assign has_projects = false %}
  {% for post in cat_posts %}
    {% if post.layout == 'post' %}
      {% assign has_projects = true %}
    {% endif %}
  {% endfor %}
  
  {% if has_projects %}
    <h3 class="year-heading" id="{{ cat_name | slugify }}">{{ cat_name }}</h3>
    
    <ul class="post-list year-grouped">
      {% for post in cat_posts %}
        {% if post.type == 'project' %}
          <li>
            <span class="title-and-tags">
              <a href="{{ post.link | default: post.url }}">{{ post.title }}</a> 
              
              {% if post.tags.size > 0 %}
                <span class="post-meta tags-inline">
                  {% for tag in post.tags %}
                    <a href="/tags/#{{ tag | slugify }}" class="tag-link">#{{ tag }}</a>
                  {% endfor %}
                </span>
              {% endif %}
            </span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  
{% endfor %}