---
layout: default
title: Projects
permalink: /projects/
---
{% assign sorted_categories = site.categories | sort %}

{% for category in sorted_categories %}
  {% assign cat_name = category[0] %}
  {% comment %} Isolate only the items where type is 'project' {% endcomment %}
  {% assign filtered_projects = category[1] | where: "type", "project" %}

  {% if filtered_projects.size > 0 %}
    <h3 class="year-heading" id="{{ cat_name | slugify }}">{{ cat_name }}</h3>
    
    <ul class="post-list year-grouped">
      {% for project in filtered_projects %}
        <li>
          <span class="title-and-tags">
            <a href="{{ project.link | default: project.url }}">{{ project.title }}</a> 
            
            {% if project.tags.size > 0 %}
              <span class="post-meta tags-inline">
                {% for tag in project.tags %}
                  <a href="/tags/#{{ tag | slugify }}" class="tag-link">#{{ tag }}</a>
                {% endfor %}
              </span>
            {% endif %}
          </span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}