---
layout: default
title: Projects
permalink: /projects/
---

<h1>AI & Data Projects</h1>
<p>A collection of my technical work, Python scripts, and risk management pipelines.</p>

<ul class="post-list year-grouped">
  {% for project in site.projects | sort: "date" | reverse %}
    <li>
      <span class="post-meta date-short">{{ project.date | date: "%Y" }}</span>
      
      <a href="{{ project.link | default: project.url }}">{{ project.title }}</a> 
      
      {% if project.tags.size > 0 %}
        <span class="post-meta tags-inline">
          {% for tag in project.tags %}
            <a href="/tags/#{{ tag | slugify }}" class="tag-link">{{ tag }}</a>
          {% endfor %}
        </span>
      {% endif %}
    </li>
  {% endfor %}
</ul>