---
layout: default
title: Topics & Tools
permalink: /tags/
---

<h1>Topics & Tools</h1>

{% capture all_tags %}
  {% for post in site.posts %}
    {% for tag in post.tags %}{{ tag }}|{% endfor %}
  {% endfor %}
  {% for project in site.projects %}
    {% for tag in project.tags %}{{ tag }}|{% endfor %}
  {% endfor %}
{% endcapture %}

{% assign unique_tags = all_tags | split: "|" | compact | uniq | sort %}

<div style="margin-bottom: 3rem; line-height: 2;">
  {% for tag in unique_tags %}
    <a href="#{{ tag | slugify }}" style="margin-right: 15px; border-bottom: none;" class="tag-link">
      #{{ tag }}
    </a>
  {% endfor %}
</div>

{% for tag in unique_tags %}
  <h2 id="{{ tag | slugify }}" style="padding-top: 2rem; border-top: 1px solid var(--border);">
    #{{ tag }}
  </h2>
  
  <ul class="post-list">
    
    {% for project in site.projects %}
      {% if project.tools contains tag %}
        <li>
          <span class="post-meta date-short">Project</span>
          <a href="{{ project.link | default: project.url }}">{{ project.title }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% for post in site.posts %}
      {% if post.tags contains tag %}
        <li>
          <span class="post-meta date-short">Article</span>
          <a href="{{ post.external_url | default: post.url }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    
  </ul>
{% endfor %}