---
layout: default
title: Tags
permalink: /tags/
---

<h1>Tags</h1>

{% assign sorted_tags = site.tags | sort %}

<div style="margin-bottom: 3rem; line-height: 2;">
  {% for tag in sorted_tags %}
    <a href="#{{ tag[0] | slugify }}" style="margin-right: 15px; border-bottom: none;" class="tag-link">
      #{{ tag[0] }} <small>({{ tag[1].size }})</small>
    </a>
  {% endfor %}
</div>

{% for tag in sorted_tags %}
  <h3 id="{{ tag[0] | slugify }}" style="padding-top: 2rem; border-top: 1px solid var(--border);">
    #{{ tag[0] }}
  </h3>
  
  <ul class="post-list">
    {% for post in tag[1] %}
      <li>
       <span class="title-and-tags">
        <a href="{{ post.external_url | default: post.link | default: post.url }}">{{ post.title }}</a>
        </span>
      </li>
    {% endfor %}
  </ul>
{% endfor %}