<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
</head>
<body>
    <nav class="site-nav">
        <div class="nav-links">
            <a href="/" class="{% if page.url == '/' or page.url == '/index.html' %}active{% endif %}"><b>{{ site.title }}</b></a>
            <ul>
             <li><a href="https://github.com/JNPyles" target="_blank" aria-label="GitHub">Github</a></li>
             <li><a href="https://huggingface.co/JNPyles" target="_blank" aria-label="Hugging Face">Huggingface</a></li>
             <li><a href="https://www.linkedin.com/in/jonathonpyles/" target="_blank" aria-label="LinkedIn">LinkedIn</a></li>
            </ul>
         </div>
    </nav>
    <hr>
    <main>
        {{ content }}
    </main>
</body>
</html>