---
layout: default
---
<header>
    <h1>{{ page.title }}</h1>
    
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
      {% if page.tags.size > 0 %}
        — 
        {% for tag in page.tags %}
          <a href="/tags/#{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %} {% endunless %}
        {% endfor %}
      {% endif %}
        — 
{% if page.colab_url or page.github_url or page.linkedin_url or page.huggingface_url or page.dropbox_url %}
    {% assign links = "" | split: "," %}
    {% if page.colab_url %}
        <a href="{{ page.colab_url }}">Colab ↗</a>
        {% assign links = "yes" | split: "," %}
    {% endif %}
    
    {% if page.github_url %}
        {% if links.size > 0 %} &middot; {% endif %}
        <a href="{{ page.github_url }}">View on GitHub ↗</a>
        {% assign links = "yes" | split: "," %}
    {% endif %}
    
    {% if page.linkedin_url %}
        {% if links.size > 0 %} &middot; {% endif %}
        <a href="{{ page.linkedin_url }}">View on LinkedIn ↗</a>
        {% assign links = "yes" | split: "," %}
    {% endif %}
    
    {% if page.huggingface_url %}
        {% if links.size > 0 %} &middot; {% endif %}
        <a href="{{ page.huggingface_url }}">View on Hugging Face ↗</a>
        {% assign links = "yes" | split: "," %}
    {% endif %}
    
    {% if page.dropbox_url %}
        {% if links.size > 0 %} &middot; {% endif %}
        <a href="{{ page.dropbox_url }}">View on Dropbox ↗</a>
        {% assign links = "yes" | split: "," %}
    {% endif %}
</p>
{% endif %}

</header>

<hr>

<article>
    {{ content }}
</article>